form {
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
    max-width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    label {
        display: block;
        margin-top: 15px;
        font-weight: bold;
    }

    input {
        &::placeholder {
            color: #ccc;
        }
    }

    button[type='submit'] {
        position: relative;
        margin-top: 20px;
        padding: 10px 20px;
        background-color: white;
        border-radius: 6px;
        color: black;
        border: 1px solid black;
        overflow: hidden;
        z-index: 1;
        transition: color 1s 0.3s;

        &::before {
            content: '';
            width: 0;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-color: #007bff;
            z-index: -1;
            transition: width 1s 0.3s;
        }

        &:not(:disabled):hover {
            cursor: pointer;
            color: white;
            border-color: transparent;
            transition: all 1s 0.3s;
        }

        &:not(:disabled):hover::before {
            width: 100%;
            transition: width 1s 0.3s;
        }

        &:disabled {
            background-color: #e0e0e0;
        }
    }

    .error {
        display: block;
        color: red;
        margin-top: 5px;
    }

    .success {
        display: block;
        color: green;
        margin-top: 5px;
    }

    .progress-bar {
        margin: 30px 0px;
        width: 60%;
        height: 10px;
        border-radius: 6px;
        overflow: hidden;
        background-color: #f5f5f5;

        .progress {
            height: 100%;
            background-color: #007bff;
            transition: width 0.3s ease;
        }
    }
}
